# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/

# Ignore OS junk files
.DS_Store

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Optional: ignore big image sets
*.jpg
*.png
